
{{#each hotelOrders}}
    <strong>{{@key}}</strong>
    <br>
    {{#if this.delivery_provided}}
    <form action="/customer/cart/deliver" method="post">
        <input onchange="submit()" type="radio" name={{@key}} value=1 id="" {{#if this.delivery_chosen}} checked {{/if}}><label for="">yes</label>
        <input onchange="submit()" type="radio" name={{@key}} value=0 id="" {{#unless this.delivery_chosen}} checked {{/unless}}><label for="">no</label><br>
    </form>
    {{/if}}
    {{#each this.orders}}
        <label>{{this.c_username}}</label>
        <label>{{this.i_id}}</label>
        <strong><label>{{this.i_quantity}}</label></strong>
        <label>{{this.i_name}}</label>
        <label>{{this.i_image}}</label>
        <label>{{this.i_details}}</label>
        <label>{{this.i_cost}}</label>
        <label>{{this.h_username}}</label>
        <label>{{this.h_name}}</label>
        <label for="">delivery</label>
        <br>
    {{/each}}
        <br>
        <br>
        <br>
{{/each}}

{{customer.username}}
{{customer.name}}
{{customer.address}}
{{customer.phone}}
{{customer.image}}
{{customer.bio}}

<br>
<form action="/customer/order" method="post">
    <input type="text" name="address" value={{customer.address}} id="">
    <input type="submit" value="Order">

</form>