{{#each objResult}}
    {{!-- {{#if this.delivery_provided}} --}}
    {{!-- <form action="/customer/cart/deliver" method="post">
        <input onchange="submit()" type="radio" name={{@key}} value=1 id="" {{#if this.delivery_chosen}} checked {{/if}}><label for="">yes</label>
        <input onchange="submit()" type="radio" name={{@key}} value=0 id="" {{#unless this.delivery_chosen}} checked {{/unless}}><label for="">no</label><br>
    </form> --}}
    {{!-- {{/if}} --}}
    <h1>{{@key}}</h1>
    {{#each this}}
        <h2>{{@key}}</h2>
        {{#each this}}
            <h3>{{@key}}</h3>
            {{!-- <h3>{{this.delivery_provided}}</h3>
            <h3>{{this.delivery_chosen}}</h3> --}}
            {{!-- <h3>{{this.c_username}}</h3> --}}
            {{#each orders}}
                <label>{{this.id}}</label>
                <label>{{this.c_username}}</label>
                <label>{{this.i_id}}</label>
                <strong><label>{{this.i_quantity}}</label></strong>
                <strong><label>{{cost}}</label></strong>
                <strong><label>{{this.delivery_chosen}}</label></strong>
                <strong><label>{{this.d_username}}</label></strong>
                <label>{{this.i_name}}</label>
                <label>{{this.i_image}}</label>
                <label>{{this.i_details}}</label>
                <label>{{this.h_username}}</label>
                <label>{{this.h_name}}</label>
                <label>{{this.timestamp}}</label>
                <label>{{this.payment_status}}</label>
                <label>{{this.order_status}}</label>
                <form action="/customer/order/{{this.id}}/cancel" method="post">
                    <button type="submit">cancel order?</button>
                </form>
                <br>
            {{/each}}
        {{/each}}
    {{/each}}
        <br>
        <br>
        <br>
{{/each}}

{{customer.username}}
{{customer.name}}
{{customer.address}}
{{customer.phone}}
{{customer.image}}
{{customer.bio}}

<br>
<form action="/customer/order" method="post">
    <input type="text" name="address" value={{customer.address}} id="">
    <input type="submit" value="Order">

</form>