{{#each objResult}}
    <div class="border">
        <header id="site-header layer-1">
            <div class="container layer-1">
                {{!-- <section id="cart">      --}}
                        {{!-- <article class="product"> --}}
                            <div class="content">
                                <h1>{{@key}}</h1>
                            </div>
                        {{!-- </article> --}}
                {{!-- </section> --}}
            </div>
        </header>     {{!-- timestamp --}}
        {{#each this}}
            {{!-- <h2>{{@key}}</h2>  --}}
                 {{!-- <header id="site-header head"> --}}
                    <div class="container layer-2">
                        <section id="cart">     
                                <article class="product">
                                    <header>
                                        <a class="remove">
                                            <img src="/hotel/{{this.data.h_image}}" alt="">
                                            <h3>Remove product</h3>
                                        </a>
                                    </header>
                                    <div class="content">
                                        <h1 class="danger-text" >{{this.data.h_name}}</h1>
                                        {{this.data.h_username}}
                                        {{this.data.h_phone}}
                                        {{this.data.h_address}}
                                    </div>
                                    <footer class="content">
                                        {{#if this.delivery_provided}}
                                            <form action="/customer/cart/deliver" method="post">
                                                <span class="material-icons qt green md-36">
                                                    delivery_dining
                                                </span>
                                                <span class="qt"><input onchange="submit()" type="radio" name={{@key}} value=1 id="" {{#if this.delivery_chosen}} checked {{/if}}>Yes</span>
                                                <span class="qt"><input onchange="submit()" type="radio" name={{@key}} value=0 id="" {{#unless this.delivery_chosen}} checked {{/unless}}>No</span>
                                            </form>
                                        {{/if}}
                                        <h2 class="full-price danger-block">
                                            {{total_h_cost}}
                                        </h2>
                                        <h2 class="price">
                                            {{h_delivery_cost}}
                                        </h2>
                                    </footer>
                                </article>
                        </section>
                    </div>
                {{!-- </header> --}}

                
                

                {{#each this.order_info}}

                    {{!-- {{@key}} --}}
                    {{#ifCond @key "1"}}
                        <div class="container layer-3">
                                        <div class="content">
                                            <h1 >Requires Delivery</h1>
                                        </div>
                        </div>
                    {{else}}
                    <div class="container layer-3">
                                        <div class="content">
                                            <h1 >No Delivery Required</h1>
                                        </div>
                        </div>
                    {{/ifCond}}

                    



                            {{#each this}}
                            
                                {{#ifCond @../key "1"}}
                                    {{#ifCond @key "null"}}
                                            <div class="container layer-4">
                                                            <div class="content">
                                                                <h1 >No delivery boy assigned</h1>
                                                            </div>
                                            </div>
                                    {{else}}
                                    <div class="container layer-4">
                                                        <div class="content">
                                                            <h1 >{{@key}} is assigned</h1>
                                                        </div>
                                        </div>
                                    {{/ifCond}}
                                {{/ifCond}}
                                    <div class="container layer-5">

                                        {{#each orders}}

                                            <section id="cart"> 
                                                    <article class="product">
                                                        <header>
                                                                <a class="remove">
                                                                    <img src="/item/{{this.i_image}}" alt="">
                                                                    <h3>Cancel order</h3>
                                                                </a>
                                                        </header>

                                                        <div class="content">

                                                            <h1>{{this.i_name}}  {{this.available}}</h1>
                                                            {{this.i_details}}
                                                        </div>

                                                        <footer class="content">
                                                                    <span class="material-icons-outlined qt green md-18">
                                                                        shopping_bag
                                                                    </span>
                                                                    <span class="qt"><input disabled min="1" type="number" name=quantity value={{this.i_quantity}} id=""></span>
                                                                    
                                                                    <form action="/customer/order/{{this.id}}/cancel" method="post">
                                                                        <span class="qt"><input type="submit" value="Cancel"></span>
                                                                    </form>
                                                            <h2 class="full-price">
                                                                {{this.total_i_cost}} {{this.payment_status}}
                                                            </h2>

                                                            <h2 class="price">
                                                                {{this.cost}} {{this.order_status}}
                                                            </h2>
                                                        </footer>
                                                    </article>
                                            </section>

                                        {{/each}}

                                    </div>
                            {{/each}}
                    {{/each}}
        {{/each}}
    </div>
{{/each}}