{{#each objResult}}
    <div class="border">
        <header id="site-header head">
            <div class="container head">
                            <div class="content">
                                <h1>{{id}}{{timestamp}}</h1>
                            </div>
            </div>
        </header>    
                    <div class="container head">
                        <section id="cart">     
                                <article class="product">
                                    <header>
                                        <a class="remove">
                                            <img src="/hotel/{{this.h_image}}" alt="">
                                            <h3>Remove product</h3>
                                        </a>
                                    </header>
                                    <div class="content">
                                        <h1 class="danger-text" >{{this.h_name}}</h1>
                                        {{this.h_username}}
                                        {{this.h_phone}}
                                        {{this.h_address}}



                                        {{#if delivery_chosen}}
                                            Requires Delivery
                                            {{#ifCond d_username null}}
                                                no delivery boy assigned
                                            {{else}}
                                                {{d_username}} is assigned
                                            {{/ifCond}}
                                        {{else}}
                                                No Delivery Required
                                        {{/if}}
                                    </div>
                                    <footer class="content">
                                        <form action="" method="post">
                                            <span class="qt"><input type="submit" value="Cancel"></span>
                                        </form>
                                         <form action="" method="post">
                                            <span class="qt"><input type="submit" value="Accept"></span>
                                        </form>
                                         <form action="" method="post">
                                            <span class="qt"><input type="submit" value="Payment Complete"></span>
                                        </form>
                                         <form action="" method="post">
                                            <span class="qt"><input type="submit" value="Order Complete"></span>
                                        </form>


                                        {{!-- <span class="material-icons-outlined qt green md-18">
                                            shopping_bag
                                        </span>
                                        <span class="qt"><input disabled min="1" type="number" name=quantity value={{this.i_quantity}} id=""></span> --}}

                                        <h2 class="full-price danger-block">
                                             {{total_cost}}
                                        </h2>
                                        <h2 class="full-price">
                                            {{delivery_cost}}
                                        </h2>
                                    </footer>
                                </article>
                        </section>
                    </div>
                {{!-- </header> --}}

                                    <div class="container shift">

                                        {{#each ioi}}

                                            <section id="cart"> 
                                                    <article class="product">
                                                        <header>
                                                                <a class="remove">
                                                                    <img src="/item/{{this.image}}" alt="">
                                                                    <h3>Cancel order</h3>
                                                                </a>
                                                        </header>

                                                        <div class="content">

                                                            <h1>{{this.name}}  {{this.available}}</h1>
                                                            {{this.details}}
                                                        </div>

                                                        <footer class="content">
                                                                    <span class="material-icons-outlined qt green md-18">
                                                                        shopping_bag
                                                                    </span>
                                                                    <span class="qt"><input disabled min="1" type="number" name=quantity value={{this.i_quantity}} id=""></span>
                                                                    
                                                            <h2 class="full-price">
                                                                {{this.t_cost}} 
                                                            </h2>

                                                            <h2 class="price  danger-text">
                                                            </h2>
                                                        </footer>
                                                    </article>
                                            </section>

                                        {{/each}}

                                    </div>

    </div>
{{/each}}

































<!--Section: Block Content-->
