{{!-- 
<div class="main-2">
  <div class="card active-field capital sticky">{{role}}:</div>
  {{#each results}}
    <a href="/hotel/details/{{this.username}}" class="this">
  <div class="card">
    <div class="image">
      <img
        src="{{this.image}}"
        alt=""
        srcset=""
        onerror=this.src=""
      />
    </div>
    <div class="profile-description">
        <div class="name">{{this.name}}</div>
            <div class="username">{{this.username}}</div>
            <div class="address">{{this.address}}</div>
            <div class="phone">{{this.phone}}</div>
    </div>
    <div class="profile-description {{#if this.delivery}} yes {{else}} no {{/if}}">
        &#10004;
    </div>
  </div>
</a>
  {{/each}}
</div> --}}



<div class="table-users">
   <div class="header">Users</div>
   
   <table cellspacing="0">
      <tr>
         <th>Picture</th>
         <th>Name</th>
         <th>Email</th>
         <th>Phone</th>
         <th width="230">Comments</th>
      </tr>

      {{#each results}}
        <a href="/hotel/details/{{this.username}}" class="this">
            <tr>
                <td><img src="https://i.picsum.photos/id/1005/100/100.jpg" alt="" /></td>
                <td>{{this.name}}</td>
                <td>{{this.username}}</td>
                <td>{{this.address}}</td>
                <td>{{this.phone}}</td>
            </tr>
        </a>
      {{/each}}

   </table>
</div>


<script>
  document.getElementById("{{role}}").classList.add("active-field");
</script>


{{!-- {{#each results}}
<a href="/hotel/details/{{this.username}}">
    <div class="hotel-card">
        <div class="hotel-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFikn19lf7kOVbw78FTYbCbwGWRDhavO3o1g&usqp=CAU" alt="" srcset="">
        </div>
        <div class="hotel-description">
            <div class="name">{{this.name}}</div>
            <div class="username">{{this.username}}</div>
            <div class="address">{{this.address}}</div>
            <div class="phone">{{this.phone}}</div>
            <div class="bio">{{this.bio}}</div>
        </div>
    </div>
</a>
{{/each}} --}}



