<div class="container">
    <div class="card__wrap--outer">
        {{#each results}}
            <div class="card__wrap--inner">
                  <div class="card  {{#if this.open}} {{else}} grey {{/if}}">
                      <img src="/hotel/{{this.image}}">
                      <div class="card__item">
                          <h2>{{this.name}}</h2>
                      </div>
                      <div class="card__sub">
                          <small>{{this.username}}</small>
                      </div>
                      <div class="card__item">
                          <span class="material-icons green md-18">location_on</span>&nbsp;<small>{{this.address}}</small>
                      </div>
                      <div class="card__sub">
                          <span class="material-icons green md-18">phone</span>&nbsp;<small>{{this.phone}}</small>
                      </div>
                      <div class="card__item flexible">
                          <small>{{this.bio}}</small>
                      </div>
                      <div class="card__footer">
                        <a class="pull" href="/hotel/details/{{this.username}}"><small>View items</small></a>
                        <a class="push">
                          <span class="material-icons {{#if this.delivery}} green {{else}} red {{/if}}">
                            delivery_dining
                          </span>
                        </a>
                      </div>
                  </div>
            </div>
        {{/each}}
    </div>
</div>

