{{!-- {{#each objResult}}
  <h1>
    {{@key}}
  </h1>
  {{#each this}}
    <h2>
      {{@key}}
    </h2>
    {{#each this}}
      <h3>
        {{@key}}
      </h3>
      {{#each orders}}
        <label>
          {{this.id}}
        </label>
        <label>
          {{this.c_username}}
        </label>
        <label>
          {{this.i_id}}
        </label>
        <strong>
          <label>
            {{this.i_quantity}}
          </label>
        </strong>
        <strong>
          <label>
            {{cost}}
          </label>
        </strong>
        <strong>
          <label>
            {{this.delivery_chosen}}
          </label>
        </strong>
        <strong>
          <label>
            {{this.d_username}}
          </label>
        </strong>
        <label>
          {{this.i_name}}
        </label>
        <label>
          {{this.i_image}}
        </label>
        <label>
          {{this.i_details}}
        </label>
        <label>
          {{this.h_username}}
        </label>
        <label>
          {{this.h_name}}
        </label>
        <label>
          {{this.timestamp}}
        </label>
        <label>
          {{this.payment_status}}
        </label>
        <label>
          {{this.order_status}}
        </label>
        <form action="/hotel/order/{{this.id}}/payment/completed" method="post">
          <button type="submit">
            payment complete?
          </button>
        </form>
        <form action="/hotel/order/{{this.id}}/status/completed" method="post">
          <button type="submit">
            order complete?
          </button>
        </form>
        <br />
      {{/each}}
    {{/each}}
  {{/each}}
  <br />
  <br />
  <br />
{{/each}}
{{customer.username}}
{{customer.name}}
{{customer.address}}
{{customer.phone}}
{{customer.image}}
{{customer.bio}}
<br />
<form action="/customer/order" method="post">
  <input type="text" name="address" value={{customer.address}} id="" />
  <input type="submit" value="Order" />
</form> --}}




























































{{#each objResult}}
    <div class="border">
        <header id="site-header layer-1">
            <div class="container layer-1">
                {{!-- <section id="cart">      --}}
                        {{!-- <article class="product"> --}}
                            <div class="content">
                                <h1 >{{@key}}</h1>
                            </div>
                        {{!-- </article> --}}
                {{!-- </section> --}}
            </div>
        </header>     {{!-- timestamp --}}
        {{#each this}}
            {{!-- <h2>{{@key}}</h2>  --}}
                 {{!-- <header id="site-header head"> --}}
                    <div class="container layer-2">
                                    <div class="content">
                                        <h1>{{@key}}</h1>
                                    </div>

                                    {{!-- <form action="/delivery/order/accept/{{@key}}/{{@../key}}" method="post">
                                        <button type="submit">accept</button>
                                    </form> --}}
                                    
                    </div>
                {{!-- </header> --}}

                
                

                {{#each this}}

                    {{!-- {{@key}} --}}
                    {{!-- {{#ifCond @key "1"}}
                        <div class="container layer-3">
                                        <div class="content">
                                            <h1 >Requires Delivery</h1>
                                        </div>
                        </div>
                    {{else}}
                    <div class="container layer-3">
                                        <div class="content">
                                            <h1 >No Delivery Required</h1>
                                        </div>
                        </div>
                    {{/ifCond}} --}}

                        
                    <div class="container layer-3">
                                    <div class="content">
                                        <h1>{{@key}}</h1>
                                    </div>
                                    
                    </div>

                                <div class="container layer-4">

                                        {{#each orders}}

                                            <section id="cart"> 
                                                    <article class="product">
                                                        <header>
                                                                <a class="remove">
                                                                    <img src="/item/{{this.i_image}}" alt="">
                                                                    <h3>Cancel order</h3>
                                                                </a>
                                                        </header>

                                                        <div class="content">

                                                            <h1>{{this.i_name}}  {{this.available}}</h1>
                                                            {{this.i_details}}
                                                        </div>

                                                        <footer class="content">
                                                                    <span class="material-icons-outlined qt green md-18">
                                                                        shopping_bag
                                                                    </span>
                                                                    <span class="qt"><input disabled min="1" type="number" name=quantity value={{this.i_quantity}} id=""></span>
                                                                    
                                                                    
                                                                    <form action="/hotel/order/{{this.id}}/payment/completed" method="post">
                                                                        <span class="qt"><button type="submit">payment complete?</button></span>
                                                                    </form>
                                                                    <form action="/hotel/order/{{this.id}}/status/completed" method="post">
                                                                        <span class="qt"><button type="submit">order complete?</button></span>
                                                                    </form>
    
                                                            <h2 class="full-price">
                                                                {{this.total_i_cost}} {{this.order_status}}
                                                            </h2>

                                                            <h2 class="price">
                                                                {{this.cost}} {{this.payment_status}}
                                                            </h2>
                                                        </footer>
                                                    </article>
                                            </section>

                                        {{/each}}

                                    </div>
                        
                    {{/each}}
        {{/each}}
    </div>
{{/each}}