{{#each results}}
<a href="/hotel/{{this.username}}">
<label>{{this.username}}</label>
<label>{{this.name}}</label>
<label>{{this.address}}</label>
<label>{{this.phone}}</label>
<label>{{this.bio}}</label>
<label>{{this.image}}</label>
<label>{{this.delivery}}</label>
</a>
<br>
<br>
<br>
{{/each}}



