<form form action="/{{role}}/edit" method="post">
  <div class="container">
    <h1>Edit {{role}} profile:</h1>
    <p>Please fill in this form to edit your profile</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input disabled value="{{user.username}}" type="text" placeholder="Enter Username" name="username" id="username" required>

    <label for="name"><b>Name</b></label>
    <input value="{{user.name}}" type="text" placeholder="Enter name" name="name" id="name" required>

    <label for="address"><b>Address</b></label>
    <input value="{{user.address}}" type="text" placeholder="Enter address" name="address" id="address" required>

    <label for="phone"><b>Phone</b></label>
    <input value="{{user.phone}}" type="text" placeholder="Enter phone" name="phone" id="phone" required>

    <label for="image"><b>Image</b></label>
    <hr>
    <img src="/{{role}}/{{user.image}}" alt="" id="pre">

    <hr>

    <label for="bio"><b>Bio</b></label>
    <input value="{{user.bio}}" type="text" placeholder="Enter bio" name="bio" id="bio" required>

    <label for="delivery_cost"><b>Delivery cost</b></label>
    <input value="{{user.delivery_cost}}" min=0 type="number" placeholder="Enter Delivery Cost" name="delivery_cost" id="delivery_cost" required>

    <hr>
    
    {{#if hotel}}
        <label for="delivery"><b>Delivery</b></label>
            <div class="below">
                <input type="radio" name="delivery" value=1 id="" {{#if user.delivery}} checked {{/if}}><label for="">Yes</label>
                <input type="radio" name="delivery" value=0 id="" {{#unless user.delivery}} checked {{/unless}}><label for="">No</label><br>
            </div>
        <label for="open"><b>Open</b></label>
            <div class="below">
                <input type="radio" name="open" value=1 id="" {{#if user.open}} checked {{/if}}><label for="">Yes</label>
                <input type="radio" name="open" value=0 id="" {{#unless user.open}} checked {{/unless}}><label for="">No</label><br>
            </div>
    {{/if}}

    <button type="submit" class="registerbtn">Edit</button>
  </div>
</form>


<script>
    let preview = (e) => {
        var file = document.querySelector("#image").files[0]
        
        var img = document.getElementById("pre");
        var reader = new FileReader();
        reader.onloadend = function() {
             img.src = reader.result;
        }
        reader.readAsDataURL(file);
};
</script>