{{!-- <h1>{{username}}</h1>
<h1>{{name}}</h1>
<h1>{{address}}</h1>
<h1>{{phone}}</h1>
<img src="/{{image}}" alt="" srcset="">g
<h1>{{bio}}</h1>

 --}}

<div class="container bg-grey">
    <div class="card__wrap--outer">
            <div class="card__wrap--inner">
                  <div class="card">
                      <img src="/{{role}}/{{user.image}}">
                      <div class="card__item">
                          <h2>{{user.name}}</h2>
                      </div>
                      <div class="card__sub">
                          <small>{{user.username}}</small>
                      </div>
                      <div class="card__item">
                          <small>{{role}}</small>
                      </div>
                      <div class="card__item">
                          <span class="material-icons green md-18">location_on</span>&nbsp;<small>{{user.address}}</small>
                      </div>
                      <div class="card__sub">
                          <span class="material-icons green md-18">phone</span>&nbsp;<small>{{user.phone}}</small>
                      </div>
                      <div class="card__item flexible">
                          <small>{{user.bio}}</small>
                      </div>
                  </div>
            </div>
    </div>
</div>

