{{#if authorized}}
    <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons"><span class="material-icons-outlined">more_vert</span></i>
    </a>
    <ul>
        {{!-- <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li> --}}
        <li><a href="/hotel/edit" class="btn-floating blue"><i class="material-icons">edit</i></a></li>
        <li><a href="/hotel/item/create" class="btn-floating green"><i class="material-icons">add</i></a></li>
        {{!-- <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> --}}
    </ul>
    </div>
{{/if}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="full card horizontal">
                {{!-- <div class="card-image"><img src="/hotel/{{hotel.image}}"></div> --}}
                <div class="little card-image waves-effect waves-block waves-light">
                    <img class="activator {{#unless hotel.open}}grey-image{{/unless}}" src="/hotel/{{hotel.image}}">
                </div>
                <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <h5>{{hotel.name}}</h5>
                        <br>
                        {{hotel.username}}
                        <br>
                        {{hotel.phone}}
                        <br>
                        {{hotel.address}}
                        <br>
                        {{hotel.bio}}
                    </span>
                </div>

                <div class="card-action">
                    <p>
                        <button class="btn waves-effect waves-light {{#if hotel.delivery}}{{else}}non-primary{{/if}}">
                            <i class="material-icons">delivery_dining</i>
                            <i class="material-icons">{{#if hotel.delivery}}check_circle{{else}}cancel{{/if}}</i>
                        </button>
                        <button class="btn waves-effect waves-light {{#if hotel.open}}{{else}}non-primary{{/if}}">
                            {{#if hotel.open}} Open {{else}} Closed {{/if}}
                            <i class="material-icons right">{{#if hotel.open}}check_circle{{else}}cancel{{/if}}</i>
                        </button>
                    </p>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="centered flex">
    {{#each results}}
        <div class="card sticky-action">

            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator {{#unless available}}grey-image{{/unless}} {{#unless ../hotel.open}}grey-image{{/unless}}" src="/item/{{this.image}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{this.name}} @ {{this.cost}}
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>

            <div class="card-action">
                {{!-- <p> --}}
                    <button class="btn waves-effect waves-light {{#if available}}{{else}}non-primary{{/if}}">
                        {{!-- {{#if available}} Available {{else}} Closed {{/if}} --}}
                        <i class="material-icons">{{#if available}}check_circle{{else}}cancel{{/if}}</i>
                    </button>

                    {{#if accepted}}
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            {{!-- Added to cart --}}
                            <i class="material-icons">shopping_cart</i>
                            <i class="material-icons">done</i>
                        </button>
                    {{else}}
                        {{#if ../hotel.open}}
                            {{#if ../customer}} 
                                {{#if available}}
                                    <form class="line" action="/customer/cart/{{this.id}}" method="post">  
                                        <button class="btn waves-effect waves-light" type="submit" name="action">
                                            <i class="material-icons">shopping_cart</i>
                                            <i class="material-icons">add</i>
                                        </button>
                                        {{!-- <button type="submit" name="action" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button> --}}
                                    </form> 
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}

                    {{#if ../authorized}} 
                        <form class="line" action="/hotel/item/{{this.id}}/edit" method="get">  
                            <button class="btn waves-effect waves-light" type="submit">
                                Edit
                                <i class="material-icons right">edit</i>
                            </button>
                            {{!-- <button type="submit" name="action" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></button> --}}
                        </form> 
                    {{/if}}
                {{!-- </p> --}}
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{this.name}} ({{this.category}})
                    <i class="material-icons right">close</i>
                </span>
                <p>{{this.details}}</p>
            </div>
        </div>
    {{/each}}
</div>






<script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });

</script>