{{#each results}}
<label>{{this.id}}</label>
<label>{{this.h_username}}</label>
<label>{{this.name}}</label>
<label>{{this.image}}</label>
<label>{{this.details}}</label>
<label>{{this.cost}}</label>
<form action="/customer/cart/{{this.id}}" method="post">
    <input type="submit" value="Add">
</form>
<br>
<br>
<br>
{{/each}}



