<center><h1>{{hotel}}</h1></center>
<div class="centered flex">
    {{#each results}}
        <div class="card sticky-action">

            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/item/{{this.image}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{this.name}} @ {{this.cost}}
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>

            <div class="card-action">
                <p>
                    {{#if ../customer}} 
                        {{#if available}}
                            <form action="/customer/cart/{{this.id}}" method="post">  
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Add to Cart
                                    <i class="material-icons right">add</i>
                                </button>
                                {{!-- <button type="submit" name="action" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button> --}}
                            </form> 
                        {{/if}}
                    {{/if}}

                    {{#if ../authorized}} 
                        <form action="/hotel//item/{{this.id}}/edit" method="get">  
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Edit
                                <i class="material-icons right">edit</i>
                            </button>
                            {{!-- <button type="submit" name="action" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></button> --}}
                        </form> 
                    {{/if}}
                </p>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{this.name}} ({{this.category}})
                    <i class="material-icons right">close</i>
                </span>
                <p>{{this.details}}</p>
            </div>
        </div>
    {{/each}}
</div>