<div class="container">
    <div class="card__wrap--outer">
        {{#each results}}
          <div class="card__wrap--inner">
                <div class="card">
                    <img src="/item/{{this.image}}">
                    <div class="card__item">
                        <h2>{{this.name}}</h2>
                    </div>
                    <div class="card__sub">
                        <small>{{this.cost}}</small>
                    </div>
                    <div class="card__item flexible">
                        <small>{{this.details}}</small>
                    </div>
                    {{!-- <div class="card__item">
                        <small>Reading Time: 4min</small>
                    </div> --}}
                    <div class="card__footer">
                      <a class="pull" href="#"><small>Add to Cart</small></a>
                      <a class="push" href="#"><small>{{this.available}}</small></a>
                    </div>
                </div>
          </div>
        {{/each}}
    </div>
</div>